html {
    font-size: 62.5%; /* Set the root font size on all pages to 62.5% */
  }
  /* header{
    background-color: #dbd3d3;  

  } */
.header-flex-container
{
 
  display: flex;
         
}

body {
    background: #fff;
    font-size: 1.6rem;
}

.cb-logo-img
{
    width: 30%;
    padding-left: 65%;
    
}
.cb-heading1
{
    color:#973d17;
    font-size: 2rem;
    padding-left: 2.5rem;
}