html {
    font-size: 62.5%; /* Set the root font size on all pages to 62.5% */
  }
   

body {
    background: #fff;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    color: rgba(0,0,0,.87);
}


.cb-body-flex-container
{
  display: flex;
  
}
.cb-index-nav
{
  flex: 20%;
  background-color: #202020;
  
}
.cb-index-content
{
  flex: 80%;
  /* padding: 3%; */
}

.cb-index-nav li
{
  padding: 3%;
 
}
.cb-index-nav li a
{
  color: #fff;
  text-decoration: none; 
 
}
.cb-index-nav ul
 {
  list-style-type: none;
  padding: 10%;
  
}
.cb-index-nav li a:hover {
  background-color: #eee;
  color: black;
}
#cb-Search
{
  width: 90%;
  height: 3%;
  margin-top: 5%;
  margin-left: 4%;
}
.header-flex-container
{
 
  display: grid;
  grid-template-columns: 20% 80%;   
  align-items: center;  
  
}
.cb-logo-img
{    
  width: 35%;
  margin-left: 55%;
}
.cb-heading1
{    
    /* color:#202020; */
    color: rgba(0,0,0,.58)!important;
    font-size: 1.5rem;      
    
}
.cb-body-content
{
  margin-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
}


/*--------- Typography Page ----------*/

.typo-img-responsive
{
  margin-top: 1%;
  margin-left: 2%;
  width: 100%;
  height: auto;
  
}
.typofont-container
{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;   
  align-items: center;  
}
.typo-hr
{
  background-color: #f7f6f6;
  width: 71%;
  margin-left: 0%;
}
pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 1%;
}
.code
{
  background-color: #eee;
  border: 1px solid #999;
  display: block;
 
}

.roboto-text-h1
{
  font-family: 'Roboto Slab', serif;
  font-size: 6rem;
  font-weight: bold;
}
.roboto-text-h2
{
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  font-weight: bold;
}
.roboto-text-h3
{
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  font-weight: bold;
}
.merriweather-para-bold
{
font-family: 'Merriweather', serif;
font-size: 1.8rem;
font-weight: bold;
}
.merriweather-para-regular
{
  font-family: 'Merriweather', serif;
  font-size: 1.8rem;
}
.font-type1
{
  margin-top:2%;
}
.font-type2
{
  margin-top:4%;
}