html {
    font-size: 62.5%; /* Set the root font size on all pages to 62.5% */
  }
   
.header-flex-container
{
 
  display: flex;
         
}

body {
    background: #fff;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

.cb-logo-img
{
    width: 30%;
    padding-left: 65%;
    
}
.cb-heading1
{
    color:#dbd3d3; 
    font-size: 2rem;
    padding-left: 2.5rem;
}

.cb-body-flex-container
{
  display: flex;
  
}
.cb-index-nav
{
  flex: 22%;
  background-color: #202020;
  
}
.cb-index-content
{
  flex: 78%;
}

.cb-index-nav li
{
  padding: 2%;
  margin: 2%;
}
.cb-index-nav li a
{
  color: #fff;
  text-decoration: none; 
  
}
.cb-index-nav ul
 {
  list-style-type: none;
  margin: 5%;
  padding: 2%;
}

#cb-Search
{
  width: 80%;
  height: 3%;
  margin: 7%;

}